html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1{
    color: #0F8CDF;
    margin-bottom: 10px;
    font-size: 20px;
}
.twitter-icon{
    color: #0F8CDF;
    font-size: 2rem;
    margin-top: 20px;
}
i{
    font-size: 15px;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main, header{
    width: 290px;
    margin: 0 auto;
}

header{
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    color: #888;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}


/* images */

.profile-pic{
    border: 1px solid rgb(90, 87, 87);
    border-radius: 50%;
    width: 48px;
    object-fit: cover;
}

/* utility */
.hidden{
    display: none;
}
.delete{
    color: rgb(236, 53, 53);
}
span{
    display: flex;
    justify-content: space-between;
}
.sun{
    font-size: 15px;
    cursor: pointer;
    /* position: absolute;
    top: 50%;
    left: 50%;  */
     transform: translate(-50%, 50%);
     color: #1DA1F2;
}
header{
    display: flex;
    justify-content: space-between;
}



@media (max-width: 300px){

    button{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    main, header{
        width: 220px;
        margin: 0 auto;
    }
    .tweet-text{
        width: 120px;
        font-size: 14px;
        line-height: 20px;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    .delete{
        font-size: 12px;
    }
}

@media (max-width: 230px){
    main, header{
        width: 230px;
        margin: 0 auto;
    }

    .profile-pic{
        width: 35px;
        margin-left: .5em;
    }
    header{
       margin: 0 .25em;
    }
    .twitter-icon{
        font-size: 1.5rem;
    }
}